* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.5%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding: 10px 20px;
}

.calculate {
  background-color: rgb(238, 252, 255);
  color: #03394e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculate h1 {
  text-align: center;
  margin: 10px 0 30px 0;
}

.calculate p {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

form input {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #03394e;
  border-radius: 10px;
}

form input:focus {
  outline: none;
  border: 1px solid #03394e;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #276a85;
  color: white;
  margin: 10px 0;
  font-size: 16px;
}

form button:hover {
  background-color: #185269;
}

#result {
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

.description {
  width: 350px;
}

.description p {
  margin: 15px 0;
}

.description ul {
  margin: 10px 0 0 20px;
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .description {
    width: 90%;
  }
}
